<div class="card mt-3">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">

      <span class="me-auto">List of images</span>
      <button type="button" class="btn btn-outline-danger btn-sm me-2" (click)="open(content)">
        <i class="bi bi-trash"></i> Delete all
      </button>
      <button type="button" class="btn btn-outline-success btn-sm" (click)="loadImagesInfo()">
        <i class="bi bi-arrow-clockwise"></i> Refresh
      </button>

    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li *ngFor="let imageInfo of imageInfos | async" class="list-group-item">
      <app-image-entry [imageEntry]="imageInfo"></app-image-entry>
    </li>
  </ul>

</div>


<ng-template #content let-modal>
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Delete all confirmation</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Close click')" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <div *ngIf="(imageInfos | async) as images; else loading">
        Are you sure you want to delete {{images?.length}} images?
        <span class="text-danger">This operation cannot be undone.</span>
      </div>
    </div>
    <ng-template #loading>Loading...</ng-template>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteAllImages(); modal.close('Delete click')">
        Delete
      </button>
    </div>

  </div>
</ng-template>
