<div *ngIf="image">
  <div class="card">
    <div class="card-header">
      <span class="fw-bold">{{ image.name }}</span>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col">
          <p>Custom URI: {{ image.url }}</p>
        </div>

        <div class="col" *ngIf="thumbnail | async as thumb">
          <img class="rounded-3" [src]="thumb"/>
          <p>Full resolution: <a href="{{image.url}}"><i class="bi-zoom-in"></i></a></p>
          <p>Download: <a href="{{image.url + '/download'}}"><i class="bi-download"></i></a></p>
        </div>

        <app-image-details [imageEntry]="image"></app-image-details>

      </div>
    </div>
  </div>
</div>
