<div *ngIf="image">
  <div class="card">
    <div class="card-header">
      <span class="fw-bold">{{ image.name }}</span>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col">
          <div class="input-group" *ngIf="image.url | uriSeparator as urlParts">
            <span class="input-group-text">{{ urlParts[0] }}</span>
            <input type="text" [placeholder]="urlParts[1]" class="form-control">
          </div>
<!--          <p>Image URL: {{ image.url }}</p>-->
        </div>

        <div class="col">
          <app-thumbnail [imageId]="image.imageId"> </app-thumbnail>
          <p>Full resolution: <a href="{{image.url}}"><i class="bi-zoom-in"></i></a></p>
          <p>Download: <a href="{{image.url + '/download'}}"><i class="bi-download"></i></a></p>
        </div>

        <app-image-details [imageEntry]="image"></app-image-details>

      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-center" >
        <button type="button" class="btn btn-outline-danger btn-sm me-2" (click)="deleteImage()">
          <i class="bi bi-trash"></i> Delete entry
        </button>
      </div>
    </div>
  </div>
</div>
