<div class="card ps-2">
  <div class="row mt-3">
    <p>Created at: {{imageEntry?.createdAt | date:'long'}}</p>
  </div>
  <div class="row mt-3">
    <p>Last modified at: {{imageEntry?.lastModifiedAt | date:'long'}}</p>
  </div>
<!--  <div class="row">-->
<!--    <p>Last modified at: {{imageEntry?.modifiedAt | date:'long'}}</p>-->
<!--  </div>-->
  <div class="row mt-3">
    <div class="col">
      <p>Size: {{imageEntry?.size | sizeFormat }}</p>
    </div>
    <div class="col">
      <p>Type: {{imageEntry?.type}}</p>
    </div>
  </div>
</div>
