<form [formGroup]="imageDetailsForm">

  <div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input type="file" #fileInput (change)="selectFile($event)"/>
      </label>
      <div *ngIf="selectedFile">
        <app-image-preview [selectedFile]="selectedFile"></app-image-preview>
      </div>
    </div>

    <div class="col-4">
      <input type="text" placeholder="Filename" formControlName="name" class="form-control mb-2" [ngClass]="{'error-input': isImageNameValid}"/>
      <div *ngIf="isImageNameValid" class="error-message">
        <p class="fw-light">Maximum length is 80 characters</p>
      </div>
      <input type="text" placeholder="Custom URI" formControlName="customUri" class="form-control mb-2" [ngClass]="{'error-input': isImageUrlValid}" />
      <div *ngIf="isImageUrlValid" class="error-message">
        <p class="fw-light">Please enter a valid URI (kebab-case-required)</p>
      </div>
    </div>

  </div>
</form>

<div class="row mt-2">
  <div class="col-4">
    <button class="btn btn-success btn-sm me-2" [disabled]="!selectedFile" (click)="upload()">
      Upload
    </button>
    <button class="btn btn-secondary btn-sm" [disabled]="!selectedFile" (click)="cancelSelectedFile()">
      Cancel
    </button>
  </div>
</div>

<div *ngIf="selectedFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{width: progress + '%'}"
  >
    {{ progress }}%
  </div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">{{message}}</div>

<app-image-list></app-image-list>
